.messages {
    padding: 2em .5em;
    background: linear-gradient(to top, #8e9eab, #eef2f3);
    max-height: 300px;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px #000000;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-button {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.messageButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.message-body {
    height: 100%;
    border: none;
}

.message-body h6 {
    font-size: 0.7em;
}

.message-body h4 {
    font-size: 0.7em;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
}

.message-card {
    margin: .5em;
    padding: .2em;
    display: block;
}

.message-label {
    color: whitesmoke;
}
