.messages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column
}


.card {
    width: 10em;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-button {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.messageButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}