.messages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: .3em;
    padding: .5em;
    background-color: white;
    max-height: 65%;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px #000000;
}


.card {
    width: 100em;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-button {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.messageButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.message-body h6 {
    font-size: 0.7em;
}

.message-body h4 {
    font-size: 0.7em;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
}

