.event-form {
    background: linear-gradient(to bottom, #bfd4e6, #eef2f3);
    color: black;
    margin: 2em auto;
    padding: 1em;
    width: 300px;
    border: black solid 3px;
    box-shadow: 0px 0px 3px black inset;
    outline: 3px solid #eef2f3;
    outline-offset: 0px;
}

.event-form input {
    display: block;
    width: 90%;
    height: 25px;
    font-size: .9em;
    margin: 1em auto;
    padding: .3em;
    border: none;
    background: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* .event-form button {
    width: 80px;
    height: 20px;
    margin: 1em auto;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 6px 4px -6px black;
    background: black;
    opacity: .6;
} 

#save-event-button:hover {
    background: linear-gradient( blue, rgb(0, 0, 226));
}

#leave-event-form:hover {
    background: linear-gradient( red, rgb(219, 0, 0));
}

#save-event-button:hover,
#leave-event-form:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 1; 
} */