.content-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.left-container {
    width: 25%;
    margin: 1em;
}

.mid-container {
    width: 40%;
    margin: 1em;
}

.right-container {
    width: 30%;
    margin: 1em;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050 !important;
    display: none;
    overflow: hidden;
    outline: 0;
}

.tabs ul {
    display: flex;
    justify-content: space-around !important;
}
